# Python dependencies required for development
astunparse
expecttest
hypothesis
numpy
psutil
pyyaml
requests
setuptools
types-dataclasses
typing-extensions
sympy
filelock
networkx
jinja2
fsspec
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
